* {
    margin: 0;
    padding: 0;
}
body {
    font: 14px/1.4 arial, Arial, Helvetica, sans-serif;
    min-width: 1200px;
    background: url(../images/body-bg.png);
}
article,aside,footer,header,nav,section {
    display: block;
}
.width-set {
    width: 1200px;
    margin: 0 auto;
}
.left{
    float: left;
}
.right{
    float: right;
}
header {
    background: url(../images/header-bg.png) repeat-x #303030;
    height: 55px;
}
footer {
    background: url(../images/footer-bg.png) repeat-x;
    height: 55px;
}
.logo {
    color: #567F26;
    font-size: 35px;
    margin-right: 42px;
}
label {
    color: #FFFFFF;
}
header nav ul li {
    font-size: 13px;
    padding: 14px 17px 14px 22px;
    background: url(../images/nav-separator.png) no-repeat;
    list-style: none;
}
header nav ul li a {
    color: #999999;
    text-decoration: none;
}
header nav ul li a:hover {
    color: #ffffff;
}
header nav ul li.current a {
    color: #ffffff;
    font-weight: bold;
}
.main-page {
    height: 1069px;
}
h5 {
    color: #888888;
    font-size: 16px;
    margin: -52px 3px;
}
.main-head {
    background: url(../images/plc-head-bg.png);
    border: 1px solid #A6A6A6;
    border-radius: 5px;
    height: 140px;
    behavior: url(PIE.htc);
}
.main-head div.button-menu {
    background: url("../images/button.png") repeat scroll 0 0 transparent;
    border: 1px solid #A6A6A6;
    border-radius: 5px 5px 5px 5px;
    height: 40px;
    margin: 15px 26px;
    width: 628px;
    behavior: url(PIE.htc);
}
.main-head div.button-menu a {
    background: url("../images/button-separator.png") no-repeat scroll 0 0 transparent;
    height: 39px;
    padding: 8px 23px 0 27px;
    font-size: 15px;
    color: black;
    text-decoration: none;
    behavior: url(PIE.htc);
}
.main-head div.main-head-left div.button-menu a.current {
    background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #000000 100%);
    background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #000000 100%);
    background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #000000 100%);
    background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #000000 100%);
    background-image: linear-gradient(bottom, #FFFFFF 0%, #000000 100%);
    height: 33px;
    color: #71B51E;
    font-weight: bold;
}
.main-head div.main-head-left div.button-menu a:hover {
    color: #71B51E;
    height: 33px;
}
.main-footer div a.current {
    background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #000000 100%);
    background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #000000 100%);
    background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #000000 100%);
    background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #000000 100%);
    background-image: linear-gradient(bottom, #FFFFFF 0%, #000000 100%);
    height: 28px;
    width: 100px;
}
.main-footer div a:hover {
    background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #000000 100%);
    background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #000000 100%);
    background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #000000 100%);
    background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #000000 100%);
    background-image: linear-gradient(bottom, #FFFFFF 0%, #000000 100%);
}
.full-screen:hover {
    background: url("../images/icons/fullscreen-active.png") no-repeat scroll 0 0 transparent;
}
.main-content {
    height: 695px;
    margin-top: -1px;
    border-left: 1px solid #A6A6A6;
    border-right: 1px solid #A6A6A6;
}
footer label {
    color: #727272;
    font-size: 10px;
    margin: 23px 0px 0px 490px;
}
h1 {
    background: url("../images/name.png") repeat scroll 0 0 transparent;
    border-radius: 5px 5px 5px 5px;
    font-size: 0;
    height: 25px;
    margin-top: 9px;
    width: 100px;
    behavior: url(PIE.htc);
}
h3 {
    background: url("../images/drop-down.png") no-repeat scroll 0 0 transparent;
    font-size: 0;
    height: 10px;
    margin: 16px -90px;
    width: 13px;
}
h2 {
    background: url("../images/plc-heading.png") no-repeat scroll 0 0 transparent;
    font-size: 0;
    height: 53px;
    margin-top: 22px;
}
.menu-separator {
    background: url("../images/menu-separator.png") no-repeat scroll 0 0 transparent;
    height: 140px;
    width: 3px;
    margin: 0 0 0 -5px;
}
.button-submenu{
    margin: 37px 22px 0;
    padding: 43px 0 0;
    width: 34px;
    color: black;
    text-decoration: none;
}
.main-head-right a:nth-child(4){
    text-indent: -6px;
}
.main-head-right a:nth-child(2){
    text-indent: 6px;
}
.new{
     background: url("../images/icons/new.png") no-repeat scroll 0 0 transparent;
}
.open {
    background: url("../images/icons/open.png") no-repeat scroll 0 0 transparent;
    width: 48px;
}
.save {
    background: url("../images/icons/save.png") no-repeat scroll 0 0 transparent;
}
.compile {
    text-indent: -9px;
    background: url("../images/icons/compile.png") no-repeat scroll 0 0 transparent;
}
.run {
    background: url("../images/icons/run.png") no-repeat scroll 0 0 transparent;
}
.new:hover {
    background: url("../images/icons/new-active.png") no-repeat scroll 0 0 transparent;
    color: #65A41A;
}
.open:hover {
    background: url("../images/icons/open-active.png") no-repeat scroll 0 0 transparent;
    color: #65A41A;
}
.save:hover {
    background: url("../images/icons/save-active.png") no-repeat scroll 0 0 transparent;
    color: #65A41A;
}
.run:hover {
    background: url("../images/icons/run-active.png") no-repeat scroll 0 0 transparent;
    color: #65A41A;
}
.compile:hover {
    background: url("../images/icons/compile-active.png") no-repeat scroll 0 0 transparent;
    color: #65A41A;
}
.full-screen {
    background: url("../images/icons/fullscreen.png") no-repeat scroll 0 0 transparent;
    height: 17px;
    width: 20px;
    margin: 5px 6px;
}
.tab-border {
    border-bottom: 1px solid #9C9C9C;
    height: 10px;
    width: 1198px;
    background: #E7E7E7;
}
section .Basic ,section .Arithmetic,section .Counters-Timers,section .Comparative,section .Instruction{
    margin: 3px 48px;
    display:none;
}
.buttons {
    background: url("../images/sub-button.png") repeat scroll 0 0 transparent;
    border: 1px solid #505050;
    border-radius: 6px 6px 6px 6px;
    color: #505050;
    height: 25px;
    margin-left: 20px;
    width: 50px;
    behavior: url(PIE.htc);
}
.main-footer {
    border: 1px solid #999999;
    height: 182px;
    width: 1198px;
    box-shadow: 0 -2px 4px #888888 inset;
}
article.main-footer div {
    background: url("../images/button.png") repeat scroll 0 0 transparent;
    height: 34px;
    border-bottom: 1px solid #A6A6A6;
}
article.main-footer div a {
    border-right: 2px solid #555555;
    height: 28px;
    width: 87px;
}
article.main-footer div a {
    color: black;
    padding: 7px 6px 0 20px;
    text-decoration: none;
}
.console-window {
    color: red;
}
.tab-list {
    overflow: hidden;
    height: 36px;
    margin: 0;
    padding: 0;
}
.main-head-left {
    width: 675px;
     height: 137px;
}
.main-head-right {
    height: auto;
    width: 521px;
}

/* Tab Structure */
        
.tab-list{
    list-style-type: none;
    overflow: hidden;
    height: 35px;
    margin: 0;
    padding: 0;
}


.tab-list dt{
    margin-top: 0px;
    height: 33px;
    width: 162px;
    position: relative;
    float:left;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border: 1px solid transparent;
    margin-left: -10px;
    z-index: 1;
}

.tab-list dt:first-child{
    margin-left: 0;
}

.tab-list .current{
    z-index: 2;
}

.left-mask, .right-mask{
   
}

.current .left-mask, .current .right-mask{
    height: 4px;
}

.left-mask{
    
}

.right-mask{  right: -1px;
}

.left-mask span, .right-mask span{
    

    
}

.left-mask span{
   
}

.right-mask span{
   
}

.tab-list dt a{
    display: block;
    float: left;
    line-height: 25px;
    padding-left: 40px;
    font-family: sans-serif;
    font-size: 13px;
    background-image: url(default.png);
    background-repeat: no-repeat;
    background-position: 18px center;
    color: #444;
    text-decoration: none;
}

.tab-list{
    box-shadow: inset 0 1px 1px #fff, inset 0 -1px 1px #9c9c9c;
    background: rgb(207,207,207); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(207,207,207,1) 0%, rgba(176,176,176,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(207,207,207,1)), color-stop(100%,rgba(176,176,176,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(207,207,207,1) 0%,rgba(176,176,176,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(207,207,207,1) 0%,rgba(176,176,176,1) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(207,207,207,1) 0%,rgba(176,176,176,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfcfcf', endColorstr='#b0b0b0',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(207,207,207,1) 0%,rgba(176,176,176,1) 100%); /* W3C */
}

.tab-list dt{
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(220,221,220,1) 4%, rgba(207,208,207,1) 39%, rgba(156,156,156,1) 40%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(4%,rgba(220,221,220,1)), color-stop(39%,rgba(207,208,207,1)), color-stop(40%,rgba(156,156,156,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(220,221,220,1) 4%,rgba(207,208,207,1) 39%,rgba(156,156,156,1) 40%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(220,221,220,1) 4%,rgba(207,208,207,1) 39%,rgba(156,156,156,1) 40%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(220,221,220,1) 4%,rgba(207,208,207,1) 39%,rgba(156,156,156,1) 40%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#9c9c9c',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(220,221,220,1) 4%,rgba(207,208,207,1) 39%,rgba(156,156,156,1) 40%); /* W3C */
    border: 1px solid #9c9c9c;
    box-shadow: inset 0 0 2px #fff;
}

.tab-list dt.current{
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(231,231,231,1) 30%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(30%,rgba(231,231,231,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(231,231,231,1) 30%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(231,231,231,1) 30%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(231,231,231,1) 30%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(231,231,231,1) 30%); /* W3C */ 
}

.left-mask span, .right-mask span{
   
}

.left-mask span{
   

}

.right-mask span{
   
}

.current .left-mask span, .current .right-mask span{
   
}

.tab-list dt div.img {
    background: url("../images/tab-close.png") no-repeat scroll 0 0 transparent;
    float: right;
    height: 7px;
    margin: 3px 14px;
    width: 12px;
}
.tab-list dt.current div.img,.tab-list dt div.img:hover {
    background: url("../images/tab-close-active.png") no-repeat scroll 0 0 transparent;
    float: right;
    height: 7px;
    margin: 3px 14px;
    width: 12px;
}
a.create-tab {
    background: url("../images/new-tab.png") no-repeat scroll 0 0 transparent;
    margin: 17px 31px;
    height: 16px;
    width: 14px;
}
a.create-tab:hover {
    background: url("../images/new-tab-active.png") no-repeat scroll 0 0 transparent;
}