	*{
			padding:0px;
			margin:0px;
		}
		
		#canvasdiv
		{
			position:absolute;
			left:265px;
			
			border:1px solid blue;
			background-color: black;
			overflow-y: auto;
		}
		#maincanvasdiv
		{
			position:relative;
			border:1px solid gray; 
			
		}
		
		
		#sidediv
		{
			position:absolute;
			background-color:green;
			
			border:1px solid gray;
			height:auto;
			width:270px;
		}
		.dialogbox
		{
			
			border:5px solid #8467D7;
			border-radius: 5;
			
		}
		#PIDdialog
		{
			
		}
		#innerPIDdialog
		{
			position:relative;
			left:3px;
			height:150px;
			width:300px;
			
			border:1px solid black;
			border-radius:10;
		}
		
		.btn
		{
			width:75px;
			height:30px;
			
			font-weight: bold;
			border-radius:5px; 
		}
		
		#configbtn
		{
			position:relative;
			left:60px;
			width:140px;
			height:30px;
			
			font-weight: bold;
			border-radius:5px; 
		}
		
		#pControl
		{
			position:absolute;
			left:340px;
			top:60px;
			width:240px;
			border:1px solid black;
			border-radius:3px;
		}
		.innerControls
		{
			position:relative;
			left:10px;
		}
		.source
		{
			position:relative;
			left : 80px;
		}
table {
    left: 14px;
    position: relative;
    top: 29px;
}